// Colors
@primary-color: #1ba5d9;
@border-radius-base: 20px;

// Font
@font-size-base: 16px;
// $font-family: 'Open Sans', sans-serif;

// Buttons
@btn-height-base: 37px;
@btn-height-lg: 46px;
@btn-height-sm: 29px;
